:root {
  --red-color: #e51010;
  --orange-color: #f28e19;
  --white-color: #ffffff;
  --black-color: #000;
  --blue-color: #2582f0;
  --grey-1-color: #f5f5f5;
  --input-color: #f9f4f4;
  --text-grey-color: #7d7b7b;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
